<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Список пользователей</title>
</head>

<body>
<h1>Список пользователей</h1>
<a th:href="@{/users/new}">Добавить пользователя</a>
<table border="1">
    <thead>
    <tr>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Возраст</th>
        <th>Email</th>
        <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.age}"></td>
        <td th:text="${user.email}"></td>
        <td>
            <button th:href="@{/users/edit/{id}(id=${user.id})}">Изменить</button>
            <button th:href="@{/users/delete/{id}(id=${user.id})}">Удалить</button>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>