<div id="admin-page-div">
    <h1 class="text text-dark" id="admin-page-h1">Панель администратора</h1>
    <div class="col p-2">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab"
                        data-bs-target="#admin-page-all-user-div" type="button"
                        role="tab" aria-controls="home" aria-selected="true"
                        onclick='parseAllUsers()'>
                    Список пользователей
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#admin-page-add-user"
                        type="button"
                        role="tab" aria-controls="contact" aria-selected="false">
                    Добавить пользователя
                </button>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="admin-page-all-user-div" role="tabpanel"
                 aria-labelledby="home-tab">
                <div class="table p-3 bg-white">
                    <table class="table table-striped p-2">
                        <thead>
                        <tr class="border-top">
                            <th>ID</th>
                            <th>Логин</th>
                            <th>Email</th>
                            <th>Возраст</th>
                            <th>Роли</th>
                            <th>Изменить</th>
                            <th>Удалить</th>
                        </tr>
                        </thead>
                        <tbody id="admin-page-table-tbody">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="admin-page-add-user" role="tabpanel" aria-labelledby="contact-tab">
                <div class="modal-body bg-white">
                    <div class="container-fluid">
                        <div class="row justify-content-center">
                            <span class="col col-md-auto">Логин</span>
                        </div>
                        <div class="row justify-content-center">
                            <label class="col col-md-auto">
                                <input type="text" id="new-user-modal-input-name" required minlength="2" maxlength="20">
                            </label>
                        </div>
                        <div class="row justify-content-center">
                            <span class="col col-md-auto">Пароль</span>
                        </div>
                        <div class="row justify-content-center">
                            <label class="col col-md-auto">
                                <input type="password" id="new-user-modal-input-password" required>
                            </label>
                        </div>
                        <div class="row justify-content-center">
                            <span class="col col-md-auto">Email</span>
                        </div>
                        <div class="row justify-content-center">
                            <label class="col col-md-auto">
                                <input type="email" id="new-user-modal-input-email" required>
                            </label>
                        </div>
                        <div class="row justify-content-center">
                            <span class="col col-md-auto">Возраст</span>
                        </div>
                        <div class="row justify-content-center">
                            <label class="col col-md-auto">
                                <input type="number" id="new-user-modal-input-age" required>
                            </label>
                        </div>

                        <div class="row justify-content-center">
                            <span class="col col-md-auto">ID чата Telegram</span>
                        </div>
                        <div class="row justify-content-center">
                            <label class="col col-md-auto">
                                <input type="number" id="new-user-modal-chatid" required>
                            </label>
                        </div>
                        <div class="row justify-content-center">
                            <span class="col col-md-auto">API токен RuVDS</span>
                        </div>
                        <div class="row justify-content-center">
                            <label class="col col-md-auto">
                                <input type="password" id="new-user-modal-apitoken" required>
                            </label>
                        </div>
                        <div class="row justify-content-center">
                            <span class="col col-md-auto">Минимальный баланс</span>
                        </div>
                        <div class="row justify-content-center">
                            <label class="col col-md-auto">
                                <input type="number" id="new-user-modal-minbalance" required>
                            </label>
                        </div>
                        <div class="row justify-content-center">
                            <span class="col col-md-auto">Уведомление</span>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col col-md-auto">
                                <input class="form-check-input" type="checkbox" id="new-user-modal-input-notification">
                                <label class="form-check-label" for="new-user-modal-input-notification">
                                    Включить уведомление
                                </label>
                            </div>
                        </div>

                        <div class="row justify-content-center">
                            <span class="col col-md-auto">Роли</span>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col col-md-auto">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="ADMIN" id="new-user-modal-input-role-admin">
                                    <label class="form-check-label" for="new-user-modal-input-role-admin">
                                        Администратор
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="USER" id="new-user-modal-input-role-user">
                                    <label class="form-check-label" for="new-user-modal-input-role-user">
                                        Пользователь
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success" id="new-user-add-button" onclick='
                        let object = {};
                        object.name = $("#new-user-modal-input-name").val();
                        $("#new-user-modal-input-name").val("");
                        object.password = $("#new-user-modal-input-password").val();
                        $("#new-user-modal-input-password").val("");
                        object.email = $("#new-user-modal-input-email").val();
                        $("#new-user-modal-input-email").val("");
                        object.age = $("#new-user-modal-input-age").val();
                        $("#new-user-modal-input-age").val("");
                        object.telegramChatId = $("#new-user-modal-chatid").val();
                        $("#new-user-modal-chatid").val("");
                        object.ruvdsApiToken = $("#new-user-modal-apitoken").val();
                        $("#new-user-modal-apitoken").val("");
                        object.minBalanceThreshold = $("#new-user-modal-minbalance").val();
                        $("#new-user-modal-minbalance").val("");
                        object.notificationEnabled = $("#new-user-modal-input-notification").is(":checked");
                        $("#new-user-modal-input-notification").is(":checked");
                        object.roles = [];
                        if ($("#new-user-modal-input-role-admin").is(":checked")) {
                        object.roles.push("ROLE_ADMIN");
                        }
                        if ($("#new-user-modal-input-role-user").is(":checked")) {
                        object.roles.push("ROLE_USER");
                        }
                        saveUser(object);
                        $("#home-tab").click();'>Сохранить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>